#header{
    margin-left: 80px;
}
#d1{
    float: left;
    font-size: 40px;
    color: greenyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: xx-large;
    font-weight: bolder;
    font-style: italic;
    margin-left: 80px;
}
#sh{
    font-size: 40px;
    color: rgb(29, 23, 23);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
    
}
#divhead2{
    float: right;
    margin-right: 200px;
}
#d3{
    float: none;
    font-size: 20px;
    color: rgb(59, 49, 49);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 30px;
    
    padding: 0;
}
#d4{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 450px;
    margin-top: -30px;

}

#a1{
    color: black;
}
#a1:hover{
    color: greenyellow;
}
#imgfolder{
   
    height: 80px;
    width: 100px;
    margin-left: 280px;
    
}
#secondsectionpara{
  margin-left: 400px;
  
  margin-top: -90px;
}
#secondsection{
    background-color: gray;
    height: 120px;
}
#bt1{
    background-color: grey;
    height: 40px;
    width: 150px;
    border: 1px solid white;
    color: white;
}
.section1{
      background-image: url("kid.jpg");
      background-size: cover;
      height: 700px;
      width: auto;
      margin: 0px;
      padding:10px;
      display:flex;
      flex-wrap: wrap;
      column-gap:10px;
    }
    .play{
      width: 39%;
      height: 400px;
      float: left;
      margin-top: 150px;
      text-align: center;
      }
      .article{
      width: 60%;
      height: 500px;
      float: left;
      margin-top: 70px;
      text-align: center;
      }
    #play{
      padding: 20px 40px;
      margin: 150px 299px;
      background-color: rgb(145, 230, 18);

      }
      #article{
      margin-top:100px;
      font:30px American Typewriter, serif;
      padding: 0 200px;
    }
#btnew{
    background-color: rgb(145, 230, 18);
    color: white;
    height: 50px;
}
#btnew1{
    background-color: rgb(145, 230, 18);
    color: white;
    height: 50px;
    
}
#newimg{
    float: right;
    border: 10px solid rgb(161, 159, 159);
    height: 300px;
    width: 350px;

}
#newsection{
    margin: 150px;
}
.newh{
    color: grey;
}
#news{
    padding-top: 50px;
    background-image: url("pontoon-1536x369.webp");
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
}
.newh11{
    text-align: center;
color: white;  

}
#newbtn{
    height: 40px;
    align-items: center;
    margin-left: 400px;
    margin-top: 20px;
    border: 2px solid rgb(145, 230, 18);
    width: 400px;
    background-color: white;
    color: green;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 0;
}
.btncircle {
    background-color:white;
    color :rgb(145, 230, 18);
    border-radius: 50%;
    /*this will rounden-up the button*/
    width: 80px;
    height: 80px;
    /*keep the height and width equal*/
    font-size: 40px;
    font-weight: bolder;
    border: 4px solid rgb(145, 230, 18) ;
    margin-left: 220px;
    /* margin-bottom: 20px; */
 padding-bottom: 10px; 
  }
  .btncircle1 {
    background-color:white;
    color :rgb(145, 230, 18);
    border-radius: 50%;
    /*this will rounden-up the button*/
    width: 80px;
    height: 80px;
    /*keep the height and width equal*/
    font-size: 40px;
    font-weight: bolder;
    border: 4px solid rgb(145, 230, 18) ;
    align-items: center;
    padding-bottom: 10px; 
  }
  #btndiv{
     text-align: center;
  }
  #spsection{
      background-color: white;
  }
  #newsection1{
      background-image: url("newbackground.jpeg");
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 600px;
padding:10px ;
  }
  #para1{
      text-align: center;
  }
  
  .spanbox1{
    padding: 20px;
    height: 460px;
    width: 300px;
   display: inline;
    background-color: white;
      margin-left: 300px;
      float: left;
      margin-right: 10px;
text-align: center;
padding-bottom: 0px;

margin-bottom: 10px;
  }
  .spanbox2{
    padding: 20px;
   
    height: 460px;
    width: 300px;
   display: inline;
    background-color: white;
    float: left;
    margin-left: 10px;
    text-align: center;
padding-bottom: 0px;
margin-bottom: 10px;


  }
  #section_mid{
      background-image: url("back2.jpeg");

      text-align: center;
      background-repeat:no-repeat ;
      background-position: center;
      background-size: cover;
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 20px;
      height: 400px;
  }
  #new_img1{
      border: 10px solid greenyellow;
      border-radius: 50%;
      height: 120px;
      width: 120px;
      /* justify-content: center; */
      /* margin-left: 120px;
      margin-right: 120px;
      margin-top: 50px; */
  }
  /* .prev{
    text-align: center;
    padding-bottom: -50px;
  }
  #img_l1{
      justify-content: center;
      align-items: center;
  }
  #left_span{
      margin-bottom: 80px;
      padding-left: 200px;
  } */
  #left_span{
      display: inline;
  }
  #right_span{
      display: inline;
  }
  #img_l1{
      display: inline;   
    text-align: center; }
    .spanbox11{
    
        height: 400px;
        width: 200px;
       display: inline;
        background-color: white;
          margin-left: 150px;
          float: left;
          margin-right: 10px;
    text-align: center;
    
    
      }
      .spanbox11n{

      
      height: 400px;
        width: 200px;
       display: inline;
        background-color: white;
          margin-left: 100px;
          float: left;
        
         
   
}
#fsec{
    clear: both;
    background-color: grey;
    height: 40px;
}
#fimg{
    display: inline;
    height: 50px;
    margin-top: 20px;
    margin-left: 250px;

}
#footer{
    clear: both;
    margin-top: 60px;
    background-color: rgb(49, 42, 42);
    text-align: center;
    height: 470px;
    padding: 40px;
}
#footdiv1{
    text-align: center;
    display: inline;
    color: grey;
    float:left;
    margin-left: 15%;
    
} 
#footdiv2{ 
    text-align: center;
    display: inline;
     color: grey;
    float: left; 
margin-left: 5%;
}  
.footbtn{
    height: 50px;
    background-color: rgba(151, 228, 28, 0.849);
    color: white;
    border: 0px solid;
    padding: 10px;
    margin: 10px;
    margin-top: 40px;

}
#footpara{
font-size: 25px;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;
color: white;
}
#subhead1{
    font-size:50px;
    font-weight: bold;
    color:rgba(156, 248, 7, 0.849); 
    font-style: italic;
}
#footsub2{
    font-size:40px;
    font-weight: bold;
    color:grey ;
    font-style: italic;
}
#footsub3{
    font-size:20px;
    font-weight: lighter;
    color:grey ;
    font-style: normal;
}
#footdiv3{
    clear: both;
    color: white;
    margin-top: 40px;
}
#footdiv4{
    
    float: left;
    color: grey;
    margin-left: 15%;
    width: 20%;
font-size: 15px;
text-align: left;
}
#footdiv5{
    /* display: inline; */
    float: left;
    color: grey;
    
    margin-left: 20px;
    text-align: left;
    
    

}

#footdiv6{
    /* display: inline; */
    float: left;
    color: grey;

    margin-left: 20px;
    /* margin-right: 20%; */
    
    width: 25%;
    font-size: 15px;
    text-align: left;
    
}
#footlast{
    background-color: black;
    height: 50px;
}
#footlast1{
    float: left;
    color: grey;
    margin-left: 120px;
padding-top: 15px;

}
#footlast2{
    float: left;
    color: grey;
    margin-left: 120px;
padding-top: 15px;


}
#footlast3{
    float: left;
    color: grey;
    margin-left: 120px;
padding-top: 15px;
}
#lastdiv{
    background-color: white;
}
#lastdiv1{
    float: left;
    margin-left: 400px;
}
#lastdiv2{
    float: left;
    margin-left: 200px;
}
#btnewread{
    color: rgb(145, 230, 18);
    background-color: white;
    height: 50px;
    border: 1px solid rgb(145, 230, 18);;
    
}